#page-admin-plagiarism-safeassign-settings input[type="text"]:not(#id_safeassign_curlcache_number),
#page-admin-plagiarism-safeassign-settings #id_safeassign_timezone,
#page-admin-plagiarism-safeassign-settings #id_safeassign_api {
    width: 21em;
}

#page-admin-plagiarism-safeassign-settings #instructor_credentials p, #student_credentials p {
    display: inline-block;
}

#page-admin-plagiarism-safeassign-settings .modal-footer {
    display: none;
}

#page-mod-assign-editsubmission input[type=checkbox] {
    margin-right: .25rem;
}

#adminsettings {
    font-family: "Roboto", "Fira Sans", "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 21em;
}