{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template plagiarism_safeassign/originalityreport

    Moodle modal template for SafeAssign originality report.

    The purpose of this template is to render the originality report with an additional JS module.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * uuid
    * courseid
    * wwwroot
    * sesskey

    Example context (json):
    {
        "content": "... Originality report html ...",
        "uuid": "abcdefghijklmnopqrstyvwxyz",
        "courseid": 100,
        "wwwroot": "http://mymoodle.com",
        "sesskey": "abcdefghijklmnopqrstyvwxyz"
    }
}}

{{{content}}}

<script type="text/javascript">
    // Had to manually add this because moodle libraries are unavailable.
    // SafeAssign's originality report is an external page.
    // This will be executed after the page is loaded.
    $(function() {
        var self = this;

        var uuid = '{{{uuid}}}',
            courseID = {{{courseid}}},
            wwwroot = '{{{wwwroot}}}',
            sesskey = '{{{sesskey}}}';

        /**
         * Replaces the file links with the moodle wrapped version.
         */
        self.replaceLinks = function() {
            $('.attachments-list a').each(function(){
                var url = $(this).attr('href');
                var fileuuid = self.getFileUUID(url);
                $(this).attr('href', wwwroot + '/plagiarism/safeassign/view.php?' +
                        'courseid=' + courseID +
                        '&uuid=' + uuid +
                        '&fileuuid=' + fileuuid);
            });
        };

        /**
         * Gets the file UUID from a URL.
         * @param url
         * @returns {string} The file uuid
         */
        self.getFileUUID = function(url) {
            var query = self.getQuery(url);
            return query.file_uuid;
        };

        /**
         * Builds an object which contains all the parameters passed in a URL.
         * @param url URL which has parameters
         * @returns {Object}
         */
        self.getQuery = function(url) {
            var query = {};

            url.replace(/[?&](.+?)=([^&#]*)/g, function (_, key, value) {
                query[key] = decodeURI(value).replace(/\+/g, ' ');
            });

            return query;
        };

        /**
         * Add click event to the resubmit button if it's there.
         * This will let moodle know about the resubmission so it processes the scores again.
         */
        self.addEventToResubmit = function() {
            $('#resubmitBtn').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    url: wwwroot + '/lib/ajax/service.php?sesskey=' + sesskey,
                    type: 'POST',
                    dataType: "json",
                    data: JSON.stringify([{
                        index: 0,
                        methodname: 'plagiarism_safeassign_resubmit_ack',
                        args: {
                            submissionuuid: uuid
                        }
                    }]),
                    success: function (data, status, xhr) {
                        $('[name="citationsForm"]').submit();
                    },
                    error: function (xhr, status, err) {
                        $('[name="citationsForm"]').submit();
                    }
                });
            });
        };

        /**
         * Init function.
         */
        self.init = function() {
            self.replaceLinks();
            self.addEventToResubmit();
        };

        self.init();
    });
</script>



